
.stockContainer{
    display: flex;
    justify-content: center;
    background-color: white;
    align-content: space-evenly;
}

.stockContainer>p{
    display: flex;
    align-content: space-between;

}

#stocktoSell{
    color: red;
}

#revenueContainer {
    background-color: limegreen;
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

#revenueContainer > p {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    background-color: orange;
}

button {
    color: black;
    background-color: white;
}